---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | BEE',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About BEE</h1>
			<p>
				The BEE was founded in 2022 by a group of Barrington High School students who were passionate about the environment. Since then, we've been working to make a difference in our community and beyond.
			</p>
		</div>
    <picture slot="image-container">
      <figure>
      <img
        src="https://epsilon.creativecirclecdn.com/eastbayri/original/20240724-171953-d25-environmental%20award.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
      <figcaption style="text-align: center; font-size: 17px;"><i>Left to right: </i> Abby Goblick, Mia He, Sid Gupta, Emma Pautz</figcaption>
    </figure>



    </picture>
	</HeroSection>
  <TextSection narrow>
    <h2>Directors</h2>
    <h3>Emma Pautz - Co-Founder, Executive Director</h3>
    <p>
      A current senior at Barrington High School, Emma was inspired by the sunrise movement protests to take steps to make her school district more eco-friendly. Since then, she's been very involved in both her school’s and state’s environmental efforts. 
    </p>

    <h3>Abigail Goblick - Co-Founder, Executive Director</h3>
    <p>
      Abigail Goblick (Abby) is a senior attending Barrington High School. Since 7th grade, she's been passionate about helping the environment and spreading awareness about environmental issues. She aims to be eco-friendly in my daily lifestyle and often leads beach cleanups with Save the Bay.     
    </p>

    <h3>Siddharth Gupta - Co-Founder, Technical Director</h3>
    <p>
      A junior at Barrington High School, Siddharth (Sid) Gupta is interested in taking an active role in combating environmental issues through both local and global perspectives, taking hands-on action and researching wide-reaching technological solutions.   
      </p>

    <h3>Mia He - Junior Director</h3>
    <p>
      A junior at Barrington High School, Mia He likes about protecting our environment beause she cares about ensuring a future for our planet. In addition, she loves running in her free time.
    </p>

    <h2>Members</h2>
    We couldn't maintain the organization without all of our members! Currently, we have over 50 members, and we're always looking for new ones.

  </TextSection>
</Layout>
