---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | BEE',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>About BEE</h1>
			<p>
				The BEE was founded in 2022 by a group of Barrington High School students who were passionate about the environment. Since then, we've been working to make a difference in our community and beyond.
			</p>
		</div>
    <picture slot="image-container">
      <figure>
      <img
        src="https://epsilon.creativecirclecdn.com/eastbayri/original/20240724-171953-d25-environmental%20award.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
      <figcaption style="text-align: center; font-size: 17px;"><i>Left to right: </i> Abby Goblick, Mia He, Sid Gupta, Emma Pautz</figcaption>
    </figure>



    </picture>
	</HeroSection>
  <TextSection narrow>
    <h2>Directors</h2>

    <h3>Siddharth Gupta - Co-Founder, Executive Director</h3>
    <p>
      A rising senior at Barrington High School, Siddharth (Sid) Gupta is interested in combating environmental issues through hands-on action and in the potential for technology to make positive environmental change.   
      </p>

    <h3>Mia He - Executive Director</h3>
    <p>
      A rising senior at Barrington High School, Mia He likes about protecting our environment because she cares about ensuring a future for our planet. In addition, she loves running in her free time.
    </p>

    <h3>Matthew Tian - Junior Director</h3>
    <p>
      A rising junior at Barrington High School, Matthew Tian enjoys biochemistry, mathematics, and reading. He believes BEE is a platform for him to fight the ever-growing climate crisis and give back to his community.
    </p>

    <h3>Joshua Shanty - Junior Director</h3>
    <p>
      A rising junior at Barrington High School, Joshua Shanty is passionate about how science and engineering can be used to solve real-world environmental challenges. He believes that empowering young people to take initiative is key to creating lasting environmental change.    </p>

    <h2>Advisory Committee</h2>
    <h3>Emma Pautz - Co-Founder, Advisor</h3>
    <p>
      An incoming freshman at the Massachusetts Institute of Technology, Emma was inspired by the sunrise movement protests to take steps to make her school district more eco-friendly. Since then, she's been very involved in both her school’s and state’s environmental efforts. 
    </p>

    <h3>Abigail Goblick - Co-Founder, Advisor</h3>
    <p>
      Abigail Goblick (Abby) is an incoming freshman at Carnegie Mellon University. Since 7th grade, she's been passionate about helping the environment and spreading awareness about environmental issues. She aims to be eco-friendly in my daily lifestyle and often leads beach cleanups with Save the Bay.     
    </p>

    <h2>Members</h2>
    We couldn't maintain the organization without all of our members! If you're interested in joining, <a href="/getinvolved">get involved</a>!

  </TextSection>
</Layout>
