---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';
import { Container, OneColumnTextSection} from '@components/odyssey-theme';


const seo = {
	title: 'Projects | BEE',
	description: 'Projects Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
      <h1>BEE Projects</h1>
      </div>
			<p>
                Here are the projects the Barrington Environmental Establishment has worked on in the past and is currently working on. Please check back for updates and get in touch if you have project ideas!
			</p>
		</div>
    <picture slot="image-container">
      <figure>
      <img
        src="/assets/images/home/composting.webp"
        alt="Astro Odyssee"
        id="home-hero-image"
        style=" width:700px !important"
      />
    </figure>



    </picture>
	</HeroSection>

    <Container>
    <h2>Projects</h2>
    <OneColumnTextSection>
				
      
              <div slot="column-1-body">
                    <h3>Hampden Meadows Books</h3>
                    <h4><i>September 2025-Ongoing</i></h4>
                    <p>
                     We are partnering with Hampden Meadows School, using grant funding from the New England Grassroots Environment Fund, to provide environmentally themed books to their students. The goal of this project is to foster environmental awareness among young students.
                     Our donation was approved by the School Council, and we are in the process of book selection and purchase with Hampden Meadows educator input. Thank you to Hampden Meadows for collaborating with us on this initiative!
                    </p>
                    <br>
                </div>
                
      
                <div slot="column-1-body">
                    <h3>Composting in Barrington</h3>
                    <h4><i>June 2023-Ongoing</i></h4>
                    <p>
                        We have started a public compost drop-off where residents of Barrington can drop off their food scraps, which are then taken to a local farm to be composted. This diverts food waste from the landfill where it releases carbon dioxide. BEE member Sabine Cladis and BEE founder Emma Pautz gained approval from the Town Hall to construct a new compost drop-off location in June of 2023. After building and designing the station over the summer, the Barrington Environmental Establishment declared it ready for use in December. In 30+ weeks of operation, we have collected over 4000 pounds of compost and counting!                 
                        <br> <br> Press:
                        <a href="https://www.eastbayri.com/barrington/stories/barrington-students-spearhead-new-compost-drop-off,116034">Barrington students spearhead new compost drop-off</a>, <a href="https://www.eastbayri.com/stories/new-compost-drop-off-site-opening-soon-in-barrington,118302">New compost drop-off site opening soon in Barrington</a>
                    </p>

                    <br>
                </div>

                <div slot="column-1-body">
                    <h3>Sapling Sale</h3>
                    <h4><i>2022-Ongoing</i></h4>
                    <p>
                        In 2022, 2023, and 2024, we organized sapling sales that resulted in 1,033 saplings being planted across Barrington. By planting these saplings, we've collectively offset around 1,235 tons of carbon emissions. From September to May each year, we have gone door-to-door, posted on Facebook, and reached out to members of the community. It’s been a hands-on way to contribute to a healthier planet, one tree at a time. Most of all though, we have been able to physically see our impact: walking throughout Barrington, it has been gratifying to see our saplings flourishing.                         <br> <br> Press:
                        <a href="https://www.eastbayri.com/barrington/stories/bhs-students-selling-saplings-to-off-set-school-paper-use,111402?">BHS students selling saplings to off-set school paper use</a>, <a href="https://www.eastbayri.com/barrington/stories/bhs-students-hold-sapling-sale-to-offset-schools-paper-use,121111">BHS students hold sapling sale to offset schools’ paper use</a>
                    </p>
                    <br>    
                </div>

                <div slot="column-1-body">
                  <h3>Legislative Proposals</h3>
                  <h4><i>Early 2024</i></h4>
                  <p>
                    In March and April of 2024, the founders of the Barrington Environmental Establishment (BEE) advocated for several legislative proposals, including the Act on Coats, the Rhode Island Bottle Bill, and the Microplastics Bill. Our goal was to provide an underrepresented student perspective, which we believe is crucial in shaping policy that directly impacts our future. Throughout the project, we have been supported by Representative Boylan, Senator Lauria, amongst other politicians and local leaders.                       <a href="https://www.eastbayri.com/barrington/stories/bhs-students-selling-saplings-to-off-set-school-paper-use,111402?">BHS students selling saplings to off-set school paper use</a>, <a href="https://www.eastbayri.com/barrington/stories/bhs-students-hold-sapling-sale-to-offset-schools-paper-use,121111">BHS students hold sapling sale to offset schools’ paper use</a>
                    <br> <br> Press:
                    <a href="https://www.youtube.com/watch?v=s1kMRNzRCDw&t=165s">Testimony on Act on Coasts</a>, <a href="https://www.youtube.com/watch?v=OEFV6w-jxkE&t=1s">Testimony on Rhode Island Bottle Bill</a>, <a href="https://www.youtube.com/watch?v=xPjn8sXeHYI">Testimony on Microplastics Bill</a>, <a href="https://www.blockislandtimes.com/news/rhode-island-house-hearing-on-act-on-coasts/article_cd3a9208-edfc-11ee-8d4c-775984f62b82.html">Article on Act on Coasts</a>
                  </p>
                  <br>    
              </div>

              <div slot="column-1-body">
                <h3>Turf Fields</h3>
                <h4><i>August 2024-Ongoing</i></h4>
                <p>
                  The Barrington Environmental Establishment (BEE) has been actively advocating against the installation of synthetic turf fields in Barrington. On May 14th, we learned about the harmful effects at a Barrington Conservation Commission meeting. On October 9th, we submitted a letter to the editor in the Barrington Times to raise public awareness about the environmental and health risks associated with synthetic turf. We urged readers to vote No to both ballot questions: 1) the bond to fund the artificial turf fields at Barrington Middle School; and 2) allowing installation of artificial turf fields on town playing fields in the future.                 </p>
                <br>    
            </div>

                <div slot="column-1-body">
                  <h3>School Reconstruction</h3>
                  <h4><i>August 2024-Ongoing</i></h4>
                  <p>
                    The Barrington Environmental Establishment (BEE) has been a strong advocate for incorporating environmentally friendly measures into the school reconstruction project. We have voiced our concerns and suggestions at five school committee meetings and two town hall meetings, emphasizing the need for solar panels, geothermal energy, and greater transparency in the project. As a result of our efforts, the school committee has begun discussions on environmental initiatives and is now considering the installation of solar panels at the high school. While the reconstruction plans have yet to fully align with our environmental vision, we remain hopeful that our advocacy will prompt greater attention to the climate crisis and drive more sustainable practices in future developments.
                  </p>
                         
              </div>

				

			
				

			</OneColumnTextSection>
        </Container>
</Layout>
