---
import ContactForm from '../components/forms/ContactForm.astro';
import Layout from '../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Get Involved | BEE',
	description: 'Get Involved Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>Get Involved With BEE</h1>
				<p>
					Thanks for your interest! Please contact us using this form. We'll be in touch soon to discuss how you can get involved with the Barrington Environmental Establishment. We have a variety of opportunities for you to get involved, including volunteering at our events, joining our newsletter team, and more. Reach out with suggestions, to join, or to schedule a meeting.				<div>
					<p>
							<a href="mailto:barringtonenvironmental@gmail.com">barringtonenvironmental@gmail.com</a
							></em
						>
					</p>
				</div>
			</div>
			<div class="col-2__container">
				<ContactForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
