---
import { Container, FeatureCard, QuoteSection, ThreeColumnTextSection, Button, YouTubeEmbedSection } from '@components/odyssey-theme';


const imagePaths = [
  '/assets/images/home/collages.webp',
  '/assets/images/home/farmschool.webp',
  '/assets/images/home/poster.webp',
  '/assets/images/home/peya.webp',


];

const imagePaths2 = [

  '/assets/images/home/sapling.webp',
  '/assets/images/home/bikecleanup.webp',
  '/assets/images/home/funnyface.webp',
  '/assets/images/home/miatestimony.webp',
];


import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
---



<Layout>
	<HomeHeroSection />

	<Container>
		<section class="feature-card__section" id="second">
			<p>&nbsp;</p>
			<h2 style="text-align: center;">Our Work</h2>
			<p style="text-align: center;">
                Ever since we began, we've been working to make a difference in our community and beyond. Two years
                later, we're proud of the work we've done.
            </p>

			<ThreeColumnTextSection>
				<div slot="column-1-body">
					<h3>Education</h3>
					<p>
						The BEE publishes a biweekly student-written newsletter covering a variety of environmental topics,
						ranging from recent legal decisions to climate-related tips and tricks. With over <b>40 issues written</b>,
						we've never missed a publishing date. Find it <a href="/newsletter">here</a>.
					</p>
				</div>
				<Button slot="column-1-cta" href="/newsletter">Join Our Newsletter</Button>

				<div slot="column-2-body">
					<h3>Involvement</h3>
					<p>
						We're always looking for new members to join our team. Whether you're interested in one of our monthly <a href="/events"> events</a>,
					    our <a href="/tree-plenish">annual tree sale</a> with over <b>800 saplings sold </b> so far, or contributing in a different way,
                        we'd love to have you. Get in touch with us to learn more!
					</p>
				</div>

				<Button slot="column-2-cta" href="/getinvolved">Get Involved </Button>
				

				<div slot="column-3-body">
					<h3>Leadership</h3>
					<p>
						We're passionate about leading climate action and positive environmental change. We've spoken at the statehouse,
						led the creation of a compost drop-off processing almost <b>4000 pounds</b>, and been awarded the <b><a href="https://www.epa.gov/education/presidents-environmental-youth-award"
						>President's Environmental Youth Award</a></b>.

					</p>
				</div>

				<Button slot="column-3-cta" href="https://www.epa.gov/education/presidents-environmental-youth-award-peya-winners">Learn More</Button>
				

			</ThreeColumnTextSection>



	</Container>

	<Container >
	<h2>Media</h2>
		<section>
		 <h3>Selected Photos</h3>

			<div style="display: flex; justify-content: center; align-items: center; gap: 1rem; flex-wrap: nowrap; overflow-x: auto; padding: 0rem 0rem 2rem;flex-shrink: 0;white-space: nowrap;">
  {imagePaths.map((path) => (
    <img
      src={path}
      alt="Description"
      style="max-width: 325px; height: auto; object-fit: cover; border-radius: 10px;flex-shrink: 0;white-space: nowrap;"
    />
  ))}

    </div>


    <div style="display: flex; justify-content: center; align-items: center; gap: 1rem; flex-wrap: nowrap; overflow-x: auto; padding: 0.5rem 0rem 2rem;flex-shrink: 0;white-space: nowrap;">
	{imagePaths2.map((path) => (
	  <img
		src={path}
		alt="Description"
		style="max-width: 300px; height: auto; object-fit: cover; border-radius: 10px;flex-shrink: 0;white-space: nowrap;"
	  />
	))}
  
	  </div>


		</section>
		<section>
	<h3 style="margin-bottom:0px !important;">BEE in the News </h3>

		<ul style="padding-bottom:75px; padding-top:0rem">
			<li style="padding-top:0rem">
				Boston Globe - <a href="https://www.bostonglobe.com/2024/07/29/metro/barrington-ri-students-found-club-to-combat-climate-change/">"Watching climate change is scary. Barrington students wanted local opportunities to take action, so they started a club."</a>
			</li>
			<li>
				EastBayRI - <a href="https://www.eastbayri.com/stories/barrington-students-earn-prestigious-environmental-award,123974">"Barrington students earn prestigious environmental award"</a>
			</li>
			<li>
				Barrington Land Conservation Trust - <a href="https://www.blct.org/land-trust-launches-student-stewardship-team/">"Land Trust Launches Student Stewardship Team" </a>
			</li>


		</ul>
	</section>


	</Container>

	


</Layout>
