---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';
import { FeatureCard, QuoteSection, ThreeColumnTextSection, Button, YouTubeEmbedSection, TwoColumnTextSection } from '@components/odyssey-theme';


const posts = await Astro.glob('./posts/*.mdx').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
			description: frontmatter.description,
			authors: frontmatter.authors,
			publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
		.sort((a, b) => {
			if (isBefore(a.publishDate, b.publishDate)) return 1;
			if (isBefore(b.publishDate, a.publishDate)) return -1;
			return 0;
		})
);

const seo = {
	title: 'Newsletter | BEE',
	description: 'Newsletter',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>BEE Newsletter</h1>
			<p>
				Subscribe to our biweekly student-written newsletter for researched information covering a variety of environmental topics, both local and global. 
			</p>
			<NewsletterForm />
		</TextCardSection>
		<section class="blog-posts-list__section" style="text-align: center;">
			<h2>Current Newsletters</h2>
			We've been publishing newsletters since 2022, but as of mid-2025, we've migrated our newsletter platform to Beehiiv! 
			<br><br>

			Find all our new newsletters (after June 6) here: <a href="https://beenvironmental.beehiiv.com/">BEE Beehiiv Link</a>.  <br><br>			
			<br>
			<h2>Legacy Newsletter Archive</h2>
						<a style="font-size: 27px;" href="https://www.canva.com/design/DAGpoJ1E5GY/FkuMbWwz-lIfsFJyp84Ymg/view?utm_content=DAGpoJ1E5GY&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hc1d389c537">Newsletter #64 - June 6, 2025</a>  <br>

			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGoVFzRIa8/4eT1KfQdBKArVkMFA9HD-Q/view?utm_content=DAGoVFzRIa8&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h6e4936a1c7">Newsletter #63 - May 22, 2025</a>  <br>


			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGlkYtd4uk/h5uMhYCYa4mttOIYYQGoWQ/view?utm_content=DAGlkYtd4uk&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h15514cbd00">Newsletter #62 - April 25, 2025</a>  <br>


			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGkPkCmDqI/rW2OrKB3dr0gp-2CMddjMw/view?utm_content=DAGkPkCmDqI&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h8b9b3d98ef">Newsletter #61 - April 11, 2025</a>  <br>


			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGi_B82ytA/r-aMMBBQKMK--JN4auk8ug/view?utm_content=DAGi_B82ytA&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=he5589561e2">Newsletter #60 - March 28, 2025</a>  <br>


			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGhoVcyOVQ/KXbF8BWuQMCX34cAKUbWOQ/view?utm_content=DAGhoVcyOVQ&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h5b1532c352">Newsletter #59 - March 14, 2025</a>  <br>


			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGgTyZOaxc/8emq6_VwVlwWKmOiW_NbGA/view?utm_content=DAGgTyZOaxc&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h2ee5829774">Newsletter #58 - February 28, 2025</a>  <br>

			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGe55Jwazc/ZZJ1n3qpEw6zvSmRp18HkQ/view?utm_content=DAGe55Jwazc&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h7824afff62">Newsletter #57 - February 14, 2025</a>  <br>

			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGdttxjMUs/NzC_rRTSnVMDaadfF27efg/view?utm_content=DAGdttxjMUs&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h05c8609865">Newsletter #56 - January 31, 2025</a>  <br>

			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGcbFKBBAo/twb0orP0_ZhUQbARJx07DA/view?utm_content=DAGcbFKBBAo&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h695a157b20">Newsletter #55 - January 17, 2025</a>  <br>

			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGbFyyu05I/4oKL0u4yg2UB6w08clQgJw/view?utm_content=DAGbFyyu05I&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=h33e03e84c5">Newsletter #54 - January 3, 2025</a>  <br>

			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGZzc9c6YM/Ms-fynzIwtzqePSzSVtHVA/view?utm_content=DAGZzc9c6YM&utm_campaign=designshare&utm_medium=link2&utm_source=uniquelinks&utlId=hf073255431">Newsletter #53 - December 20, 2024</a>  <br>

			<a style="font-size: 27px;" href="https://www.canva.com/design/DAGYd0Y4iAs/UT5fOY4IxlxWzb5bUVv9Aw/view?utm_content=DAGYd0Y4iAs&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #52 - December 6, 2024</a>  <br>
					<a style="font-size: 27px;" href="https://www.canva.com/design/DAGXLSrCh4s/nqZljuQ3ET5K0bLKWeDf_g/view?utm_content=DAGXLSrCh4s&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #51 - November 22, 2024</a>  <br>
					<a style="font-size: 27px;" href="https://www.canva.com/design/DAGV1k-06c8/-CMMD9SYH9dPwTv4i3fi5w/view?utm_content=DAGV1k-06c8&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #50 - November 8, 2024</a>  <br>
					<a style="font-size: 27px;" href="https://www.canva.com/design/DAGUi8VXPk0/ASKtlc6YHy8Efu-SECDjlQ/view?utm_content=DAGUi8VXPk0&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #49 - October 25, 2024</a>  <br>
					<a style="font-size: 27px;" href="https://www.canva.com/design/DAGTOqRTP3A/3Vxp5dnLJuddCVLuxPb42Q/view?utm_content=DAGTOqRTP3A&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #48 - October 11, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGR5Vmpbu4/7DU0bZlABMINhAGZ1IaFDw/view?utm_content=DAGR5Vmpbu4&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #47 - September 27, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGQnPzJEpA/ZAmAg9ey6j5wD_kQcPVxEA/view?utm_content=DAGQnPzJEpA&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #46 - September 13, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGPS3Ar0kw/-ahVgDV_IUaOE8_TfjR2kA/view?utm_content=DAGPS3Ar0kw&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #45 - August 30, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGN8FSeWDc/7aM9zou5E7RWSvosbfg6DQ/view?utm_content=DAGN8FSeWDc&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #44 - August 16, 2024</a>  <br>
					<a style="font-size: 27px" href="      https://www.canva.com/design/DAGMqYnh3WE/nOa7g2_jcqqp1vIjJL_IVA/view?utm_content=DAGMqYnh3WE&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #43 - August 2, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGLWefadRo/_WcxLB0Hr7YeY4QUIqqdhg/view?utm_content=DAGLWefadRo&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #42 - July 19, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGKA71f0G4/z9MnkQc6oEk7eoe_bYhuGQ/view?utm_content=DAGKA71f0G4&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #41 - July 5, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGIsS7R8io/_L0_YGs--Bet8ofIXIDFSQ/view?utm_content=DAGIsS7R8io&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #40 - June 28, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGIsS7R8io/zDzXOBx96HSFN2Ina3foFw/edit?utm_content=DAGIsS7R8io&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Newsletter #39 - June 21, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGHXY7l2G0/fYzOOBkHcUaBmSjHSZcbig/edit?utm_content=DAGHXY7l2G0&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Newsletter #38 - June 7, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGGG7-7eV8/r0K2vrB0i6ynn6Zi3mubuA/view?utm_content=DAGGG7-7eV8&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #37 - May 24, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGCJlFBU2g/OhileXKvjz0PSZriYKw3Gg/view?utm_content=DAGCJlFBU2g&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #36 - April 12, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAGAzWM4EiI/MVbxWhq1dqadJKc3VDHI4A/edit?utm_content=DAGAzWM4EiI&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Newsletter #35 - March 29, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAF_iscBFiY/psRhLe-aaFVQUnL4sov_zw/edit?utm_content=DAF_iscBFiY&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Newsletter #34 - March 15, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAF-OlC17AE/-Nv5KpjttpgOeFCvyXMy7A/edit?utm_content=DAF-OlC17AE&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Newsletter #33 - March 1, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAF87dm0tTs/Rmde7n2CLaGjAKSmXctM5g/edit?utm_content=DAF87dm0tTs&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton">Newsletter #32 - Feburary 16, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAF7lhAYYRw/0a9mjJKMf-Ey_XF5cdOm5A/view?utm_content=DAF7lhAYYRw&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #31 - Feburary 2, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAF6ShP5XcM/CiQkDQQfXAZdTy35Cf5IJA/view?utm_content=DAF6ShP5XcM&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #30 - January 19, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAF4-wsDFuA/2nbS2KHwcf43Pj75u5I5Ig/view?utm_content=DAF4-wsDFuA&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #29 - January 5, 2024</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAF3rZ7XaFA/rGfHT1w9ztuLnxMvjeFzVw/view?utm_content=DAF3rZ7XaFA&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #28 - December 22, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAF2XdqP7lI/3M5bQbNHB-JwUDhud5R_pA/view?utm_content=DAF2XdqP7lI&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #27 - December 8, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAF1BhaYGrY/QECjX15xKpOARoGyPj4rLg/view?utm_content=DAF1BhaYGrY&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #26 - November 24, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFya955GXI/zZunogDYxFYYk8cV61CK7Q/view?utm_content=DAFya955GXI&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #25 - November 10, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFya955GXI/zZunogDYxFYYk8cV61CK7Q/view?utm_content=DAFya955GXI&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #24 - October 27, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFxGKgwqdE/6YMsGJ1W0H1JVQ2lSqnDlg/view?utm_content=DAFxGKgwqdE&utm_campaign=designshare&utm_medium=link&utm_source=editor">Newsletter #23 - October 13, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFuZECxY9Y/YcoAy6_jTZ1TdEhFpLYAvw/view?utm_content=DAFuZECxY9Y&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #22 - September 29, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFuZECxY9Y/YcoAy6_jTZ1TdEhFpLYAvw/view?utm_content=DAFuZECxY9Y&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #21 - September 15, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFtKeNbtk8/00p8FN2F9arBKkrg4pMPQg/view?utm_content=DAFtKeNbtk8&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #20 - September 1, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFrxge05LA/izjZ9sD5Z-KZbKuj4A1icg/view?utm_content=DAFrxge05LA&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #19 - August 18, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFqgswP40Q/AGgdHbCpg81comjluSJ7Rw/view?utm_content=DAFqgswP40Q&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink#3">Newsletter #18 - August 4, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFpOOjylEY/aU45GIDPmcXpVeSmtZvADA/view?utm_content=DAFpOOjylEY&utm_c">Newsletter #17 - July 21, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFrxge05LA/izjZ9sD5Z-KZbKuj4A1icg/view?utm_content=DAFrxge05LA&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #16 - July 7, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFmnKEEnec/7UM0HwS_SlSOAsJo3HNigA/view?utm_content=DAFmnKEEnec&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #15 - June 9, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFmnKEEnec/7UM0HwS_SlSOAsJo3HNigA/view?utm_content=DAFmnKEEnec&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #14 - June 9, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFrxge05LA/izjZ9sD5Z-KZbKuj4A1icg/view?utm_content=DAFrxge05LA&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #13 - May 26, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFrxge05LA/izjZ9sD5Z-KZbKuj4A1icg/view?utm_content=DAFrxge05LA&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #12 - May 12, 202</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFrxge05LA/izjZ9sD5Z-KZbKuj4A1icg/view?utm_content=DAFrxge05LA&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #11 - April 28, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFrxge05LA/izjZ9sD5Z-KZbKuj4A1icg/view?utm_content=DAFrxge05LA&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #10 - April 14, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFrxge05LA/izjZ9sD5Z-KZbKuj4A1icg/view?utm_content=DAFrxge05LA&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #9 - March 31,2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFdZCuteys/fIfDuFtI73ywcSoWeLOoXA/view?utm_content=DAFdZCuteys&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #8 - March 17, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFcD7dZwZ0/WO9xv27kkdEVCxQHMVUQaQ/view?utm_content=DAFcD7dZwZ0&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #7 - March 3, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFrxge05LA/izjZ9sD5Z-KZbKuj4A1icg/view?utm_content=DAFrxge05LA&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #6 - February 17, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFW26I5oxY/7q3Q7GjjvnfA06xg7R17ZA/view?utm_content=DAFW26I5oxY&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #5 - February 3, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFX3772lek/VCxOJGr7aUx7jLxIUEQpAg/view?utm_content=DAFX3772lek&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink#1">Newsletter #4 - January 20, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFW26I5oxY/7q3Q7GjjvnfA06xg7R17ZA/view?utm_content=DAFW26I5oxY&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #3 - January 6, 2023</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFVntl1dEU/SSJVQ1SMUg7Ch-Ij81LhSA/view?utm_content=DAFVntl1dEU&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #2 - December 23, 2022</a>  <br>
					<a style="font-size: 27px" href="https://www.canva.com/design/DAFTWGAdSng/pTaa-Abczbyr0sIxJaa9FA/view?utm_content=DAFTWGAdSng&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">Newsletter #1 - December 9, 2022</a>  <br>
				
		



		</section>

		<br>
		<br>
	</Container>
</Layout>
